/* RESET */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;600&family=Poppins:wght@200;500;900&display=swap');
{
    margin:0;
    padding:0;
   box-sizing: border-box;
   font-family: 'inter',sans-serif;
}

 body {
    width:95%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #6495ED;


}
.container {
  width: 80%;
  height: 80vh;
  display: flex;
 box-shadow: 2px 2px 5px rgba(0,0,0, .212);

}

.form-image {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fde3a7d7;
    padding: 1rem
}

.form-image img {
    width: 33rem;
}

.form {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    padding: 5rem;
}

.form-header {
    margin-bottom: 2rem;
    justify-content: center;
    font-size: 25px;
    text-align: center;

}

.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;

}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.input-box input {
    margin: 0.9rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
}
.input-box input:hover {
    background-color: #eeeeee75;
}

.input-box label {
    font-size: 0.90rem;
    font-weight: 1000;
    color: #0047AB;
}
.cadastrar-button button {
  width: 100%;
  margin-top: 2.5rem;
  background-color: #00008B;
  padding: 0.62rem;
  border-radius: 5px;
  cursor: pointer;
  font-weight:500;
  color:#fff;
}
.form-header title {
     background-color: #000080;
}
.listar-button button {
    width: 100%;
      margin-top: 2.5rem;
      background-color: #00008B;
      padding: 0.62rem;
      border-radius: 5px;
      cursor: pointer;
      font-weight:500;
      color:#fff;
}
.lista h1 {
    color:#191970;
    text-align: center;
    margin-bottom: 1rem;
}
.dados h1 {
    color:#191970;
    text-align: center;
    margin-bottom: 1rem;
}
.lista th {
    width: 100%;
    font-size: 15px;
    padding:3rem;
    text-align: center;
    justify-content: space-around;
}
.lista tr {
   width: 100%;
   font-size: 15px;
   padding:3rem;
   text-align: center;
   justify-content: space-around;
}
.dados th {
    width: 100%;
    font-size: 15px;
    padding:2rem;
    text-align: center;
    justify-content: space-around;
}
.dados tr {
   width: 100%;
   font-size: 15px;
   padding:3rem;
   text-align: center;
   justify-content: space-around;
}
.ordem-servico a {
     background-color: #00008B;
     padding: 0.60rem;
     border-radius: 5px;
     cursor: pointer;
     font-size: 15px;
     color:#fff;
}

.ordem-servico {
    text-decoration: none;
    font-size: 4.5rem;


}
.voltar {
      padding: 0.70rem;
      border-radius: 4px;
      text-align: center;
      top:800px;
      left: 800px;
}
.voltar a {
         background-color: #00008B;
         padding: 0.60rem;
         cursor: pointer;
         font-size: 16px;
         color:#fff;
         border-radius: 5px;
}

@media screen and (max-width: 1330px) {
    .form-image {
    display: none;
    }
    .container {
    width: 50%;
    }
    .form {
    width: 100%;
    }
}

@media screen and (max-width: 1064px) {
    .container {
    width:90%;
    height: auto;
    }
    .input-group {
    flex-direction: column;
    overflow-y: scroll;
    flex-wrap: nowrap;
    }
}